{% extends "base.html" %}
{% load staticfiles i18n%}

{% block title %}{% trans "Login page" %}{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
{% if not user.is_authenticated %}
<div class="total-center">
    <form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="form-group">
        {% if field.errors|length > 0 %}
          <div class="error-form checkbox">
            {% for error in field.errors %}
              <strong>{{ error }}</strong>
            {% endfor %}
          </div>
        {% endif %}
            <label for="id_{{ field.name }}" class="col-sm-2 col-sm-offset-4 control-label">{{ field.label }}:</label>
        {% if field.help_text %}
            <div class="help-block">{{ field.help_text }}</div>
        {% endif %}
            <div class="col-sm-2">{{ field }}</div>
        </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value={% trans "Login" %} name="login_btn" >
    </form>
</div>
{% else %}
<div class="total-center">
<h1>{% trans "Sorry, but you are already logged in" %}</h1>
<h3><a href="{% url "blog:users" %}">&raquo; {% trans "Main" %} &laquo;</a></h3>
</div>
{% endif %}
{% endblock content %}


