{% load staticfiles i18n markdown_deux_tags %}

{% for post in posts %}
    <h2><a href="{% url "blog:post_detail" post.pk %}">{{ post.title }}</a></h2>{{post.author}}
    {% if not post.is_publish %}
        <span class="badge">{% trans "Not published" %}</span>
    {% endif %}
        <h6 class="dt-create">{% trans "Creation time:" %} {{ post.dt_create }}</h6>
        <div class="post-text">
    {% if post.text|length > 100 %}
        {{ post.text|truncatewords_html:10|markdown }}
    {% else %}
        {{ post.text|markdown }}
    {% endif %}
        </div>
    {% if post.dt_edit %}
        <h6 class="dt-edit">{% trans "Updated time:" %} {{ post.dt_edit }}</h6>
    {% endif %}
        <div class="bot-br">
            <a href="{% url "blog:post_detail" post.pk %}">{% trans "Read full version" %} &raquo;</a>
            {% if user == author %}
            <a style="float:right" href="{% url "blog:post_edit" post.pk %}">{% trans "Edit" %}</a>
            {% endif %}
        </div>
{% empty %}
    <h2>{% trans "This user has not posted anything" %}</h2>
{% endfor %}