{% extends "base.html" %}
{% load staticfiles i18n markdown_deux_tags %}

{% block title %}{% trans "Published posts by" %}{{ author }}{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">login: <strong>{{user}}</strong>, auth: <strong>{{author}}</strong><br>
        {% for post in request.user.posts.published %}
            {{post}}
        {% endfor %}
{% if user == author %}
    {% include "blog/posts.html" with posts=author.posts.all %}
{% else %}
    {% include "blog/posts.html" with posts=author.posts.all %}
{% endif %}
    </div>
  </div>
</div>
{% endblock content %}