{% extends "base.html" %}
{% load staticfiles i18n markdown_deux_tags %}

{% block title %}{{ title }}{% endblock title %}
{% block extends_styles %} {{ form.media }} {% endblock extends_styles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
    <form action="" method="post">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="form-group">
        {% if field.errors|length > 0 %}
          <div class="error-form checkbox">
            {% for error in field.errors %}
              <strong>{{ error }}</strong>
            {% endfor %}
          </div>
        {% endif %}
            <label for="id_{{ field.name }}">{{ field.label }}:</label>
        {% if field.help_text %}
            <div class="help-block">{{ field.help_text }}</div>
        {% endif %}
            {{ field }}
        </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value={% trans "Send" %} name="create_post" >
    </form>
    </div>
  </div>
</div>
{% endblock content %}